<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="entities.JobTechnician">
    <resultMap id="jobTechnicianResultMap" type="entities.JobTechnician">
        <id property="jobId" column="job_id"/>
        <id property="techId" column="tech_id"/>
    </resultMap>

    <select id="get" parameterType="map" resultType="entities.JobTechnician" resultMap="jobTechnicianResultMap">
        SELECT * FROM jobs_technicians
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </select>

    <insert id="create" parameterType="entities.JobTechnician">
        INSERT INTO jobs_technicians (job_id, tech_id, task, done)
        VALUES (#{jobId}, #{techId}, #{task}, #{done});
    </insert>

    <update id="update" parameterType="map">
        UPDATE jobs_technicians
        <set>
            <foreach collection="values" index="key" item="value" separator=",">
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            <foreach collection="filters" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM jobs_technicians
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </delete>
</mapper>