<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="entities.Part">
    <resultMap id="partResultMap" type="entities.Part">
        <id property="id" column="part_id"/>
        <result property="supplierId" column="supplier_id"/>
    </resultMap>

    <select id="get" parameterType="map" resultType="entities.Part" resultMap="partResultMap">
        SELECT * FROM parts
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </select>

    <insert id="create" parameterType="entities.Part">
        INSERT INTO parts (supplier_id, name, description, value, stock)
        VALUES (#{supplier_id}, #{name}, #{description}, #{value}, #{stock});
    </insert>

    <update id="update" parameterType="map">
        UPDATE parts
        <set>
            <foreach collection="values" index="key" item="value" separator=",">
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            <foreach collection="filters" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM parts
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </delete>
</mapper>